$pl: 12px;
$pr: 12px;

.container{
  padding-left: $pl;
  padding-right: $pr;
  position: relative;
  margin-left: auto;
  margin-right: auto;
 

  @media(min-width: $sm){
    max-width: 540px;
  }
 
  @media(min-width: $md){
    max-width: 720px;
  }

  @media(min-width: $lg){
    max-width: 960px;
  }


  @media(min-width: $xl){
    max-width: 1260px;
  }

  @media(min-width: $xxl){
    max-width: 1320px;
  }
}