:root{
    --primary-font: 'Poppins', sans-serif;
    --secondary-font:  'Montserrat', sans-serif;
    --color-black: #101010;
    --color-light: #c6c9d8;
    --border-color: #b1b4c1;
    --color-pink: #f9004d;
    --color-white: #fff; 
}