

.theme-gradient{
    background: linear-gradient(145deg, rgb(248, 31, 1) 0%, rgb(238, 7, 110) 100%);
    -webkit-text-fill-color: transparent;
    display: inline-block;
    -webkit-background-clip: text;
}